/* nav bar */
.navbar-dark .navbar-nav .nav-link{
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
}
.navbar-dark .navbar-nav .nav-link.btn:hover{
    color: #000;
}
.slider h3{
    text-transform: uppercase;
}
.slider p{
    text-transform: capitalize;
}
.bookingSection{
    display: flex;
    justify-content: space-between;
}
.bookingSection .bookingInputs {
    display: flex;
    flex-direction: column;
    text-align: left;
}
/* about */
#about .container h3 {
    text-transform: capitalize;
}
/* our rooms */
#ourRooms{
    background-image: url('../images/1398281987.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bookAroom{
    border: 1px solid #000;
}
.review {
    background-image: url('/images/house-5148865_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* contacts */

.cont{
    display: flex;
    justify-content: space-between;
}
.inputs{
    text-align: left;
    margin-top: 10px;
}

/* responsive */
@media (min-width: 500px) and (max-width: 768px){
    html{
        font-size: 12px;
    }
}
@media (min-width: 0px) and (max-width: 500px){
    html{
        font-size: 8px;
    }
    .bookingSection {
        flex-direction: column;
    }
    .room,.contInputs {
        width: 80% !important
    }
    #gallery div { margin-top: 10px;}
     
}